*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background-image: url("https://images.pexels.com/photos/326333/pexels-photo-326333.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    /* background-image: linear-gradient(to left top, #e0b7a9 , #edbbab , #d09eab, #a98eb2,#6d84ae , #1d7a94); */
    position: relative;
    background-size: cover;
}


nav{
    
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-size: 3.5vh;

    img{
        height: 8vh;
    }
    padding: 0 5vh 0 5vh;

    input{
        padding: 2vh;
        height: 5vh;
        width: 18vw;
        border-radius: 2vh;
    }

    div{
        line-height: 5vh;
        width: 8vw;
        text-align: center;
    }

    div:hover{
       
        background-color: teal;
        color: white;
        border-radius: 2vh;

    }

}

/* Man Section  */
#mainSection{
    height: 88vh;
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    border: solid white;
    

}






/* right Section */

#rightSection{
    height: 86vh;
    width: 46vw;
    border: solid yellow;
    position: relative;
    display: flex;
    /* flex-direction: column; */
    justify-content: space-evenly;
    align-items: end;
    color: white;
  

  


    
}

.sqrCards{
    height:20vh ;
    width: 12vw;
    /* background-color: antiquewhite; */
    /* background-color: rgb(245, 237, 95);
     */
     background: transparent;
    
    margin-bottom: 20vh;
    position: relative;
    border-radius: 1vw;
  
    border: solid rgb(239, 240, 238);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 5vh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    filter: drop-shadow(3px 3px 3px rgb(9, 6, 6));
    box-shadow: 2px 2px 2px rgb(250, 192, 192);

}

.circleDiv{
    height: 75px;
    width: 75px;
    position: absolute;
    /* background-color:bisque; */
    background: transparent;
    border-radius: 50%;
    /* border: solid blue; */
    border: solid rgb(236, 236, 240);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 2px rgb(250, 192, 192);


    img{
        height: 10vh;
        filter: drop-shadow(3px 3px 3px rgb(9, 6, 6));
    }

}


#addemp{
top: -45px;
    left: 35px;
}

#viewemp{
    top: -45px;
        left: 35px;
    }

#viewallemp{
        top: -45px;
            left: 35px;
          
        }



#admfun{
    position: absolute;
    top: 10vh;
    font-size: 10vh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    filter: drop-shadow(2px 2px 2px rgb(79, 64, 55));
}


/* Left Section */





#leftSection{
    height: 86vh;
    width: 50vw;
    border: solid yellow;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}


#AddEmployeeSection{

    height: 70vh;
    width: 30vw;
    border: solid white;
    border-radius: 5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    text-align: center;

    #mainhead{
        font-size: 5vh;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: 500;
        filter: drop-shadow(2px 2px 2px rgb(79, 64, 55));
    }

    hr{
        width: 28vw;
        margin-top: 1vh;
        filter: drop-shadow(2px 2px 2px white);
    }

    p{
        font-size: 4vh;
        margin: 1vh 0;
        font-weight: 500;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        filter: drop-shadow(2px 2px 2px rgb(210, 23, 23));

        
        input{
            width: 18vw;
            height: 5vh;
            border-radius: 10px;
            padding-left: 2vw;
            background: transparent;
            /* background-color: aqua; */
            color: aliceblue;
            border: solid aliceblue;

           

           
        }

        input::placeholder{
            color: rgb(208, 234, 14);
        }


    }


    #submit{
        height: 6vh;
        width: 14vw;
        border-radius: 20px;
        margin-top: 3vh;
        font-size: 4vh;
        background: transparent;
        color: aliceblue;
        border: solid aliceblue;
        filter: drop-shadow(2px 2px 2px rgb(210, 23, 23));
    }
    display: none;

   
}


/* to view  by id section */
#viewenterID{
    
    height: 70vh;
    width: 30vw;
    border: solid white;
    border-radius: 5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    text-align: center;

    #mainviewhead{
        font-size: 5vh;
        margin-top: 5vh;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: 500;
        filter: drop-shadow(2px 2px 2px rgb(114, 109, 109));
    }
    p{
        font-size: 6vh;  
    }


    input{
        font-size: 3vh;
        width: 20vw;
        height: 8vh;
        border-radius: 2vh;
        padding-left: 1vw;
        background: transparent;
        color: aliceblue;
        border: solid aliceblue;
        margin-top: 5vh;

    }

    input::placeholder{
        color: rgb(208, 234, 14);
    }

    #submitbtnviewenterID{
        border-radius: 5vh;
    }

    display: none;
}



/* data view of emp */
#dataviewempsection{
    height: 80vh;
    width: 30vw;
    border: solid white;
    border-radius: 5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: left; */
    color: white;
    text-align: center;

    h2{
        margin: 1vh 0;
    }

    filter: drop-shadow(2px 2px 2px rgb(51, 39, 39));
    box-shadow: 2px 2px 2px white;
        display : flex;
    
}

#imgnamediv{
    height: 30vh;
    width:14vw ;
    border: solid white;
    margin-top: 5vh;
    border-radius: 20px;
    background-image: url("https://i.ibb.co/RbWGZ2p/person.png");
    /* <img src="https://i.ibb.co/RbWGZ2p/person.png" alt="person" border="0"> */
        background-image: linear-gradient(to left top, #e0b7a9 , #edbbab , #d09eab, #a98eb2,#6d84ae , #1d7a94);

        img{
            height: 25vh;
            margin-top:2vh ;
        }

    background-size: cover;
}