@charset "ISO-8859-1";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background-image: url("https://i.ibb.co/Bcp22Yq/pexels-kateryna-babaieva-3158651.jpg");
    background-size: cover;
}


nav{
    
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-size: 3.5vh;

    img{
        height: 8vh;
    }
    padding: 0 5vh 0 5vh;

    input{
        padding: 2vh;
        height: 5vh;
        width: 18vw;
        border-radius: 2vh;
    }

    div{
        line-height: 5vh;
        width: 8vw;
        text-align: center;
    }

    div:hover{
       
        background-color: teal;
        color: white;
        border-radius: 2vh;

    }

}

section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70vh;
    width: 100vw;
    margin-top: 10vh;
}

#rightDiv{

    height: 70vh;
    width: 40vw;
    /* border: solid white; */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 10vh;
    color: white;
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  

    img{
        height: 40vh;
        box-shadow: 2px 2px 5px black;
        border-radius: 2vw;
        box-shadow: 2px 2px 5px #AED3E4;
      

    }


    img:hover{
        transition: 2s ease-in-out;
        transform: scale(1.2);
    }

    p{
        width: 30vw;
    }
    
}

#leftDiv{

    height: 80vh;
    width: 40vw;
    /* border: solid white; */
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    justify-content: center;

    section{
        height: 70vh;
        width: 30vw;
        /* border: solid white; */
        display: flex;
        justify-content: center;
        align-items: start;

    }

   #buttondsDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 5vh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    
    button{
        height: 10vh;
        width: 25vw;
        border-radius: 5vh;
      background: transparent;
      border: solid gray;
      
    color: white;
    font-size: 4vh;
    font-weight: 400;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
margin: 1vh 0 1vh 0;


    }
   }

  



}



#hiddenFormAdmin{

    height: 50vh;
    width: 25vw;
border: solid white;
border-radius: 5vh;
position: absolute;
top: 20vh;
z-index: 10;
left: 35vw;

display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
text-align: center;
color: #51ec0a;
display: none;

input{
    height: 8vh;
    width: 20vw;
    text-align: center;
    margin: 1vh 0;
    border-radius: 2vw;

    color: rgb(11, 11, 11);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 3vh;
}



}

#hiddenFormEMP{

    height: 50vh;
    width: 25vw;
border: solid white;
border-radius: 5vh;
position: absolute;
top: 20vh;
z-index: 10;
left: 35vw;

display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
text-align: center;
color: #51ec0a;
display: none;

input{
    height: 8vh;
    width: 20vw;
    text-align: center;
    margin: 1vh 0;
    border-radius: 2vw;

    color: rgb(11, 11, 11);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 3vh;
}



}